/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 31-mar-2015, 20.22.46
    Author     : amm
*/

#newItem input[type=text],textarea{
    
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
    width: 350px;
    border: 2px solid #eee;
    padding: 0px 0 3px 0;
    margin-bottom: -1px;

}
#newItem label{
    display: inline-block;

    clear: left;
    width: 350px;
    text-align: center;
}

textarea{
    resize: vertical;
}
.errore{
    color:red;
}
@media screen and (max-width: 1000px) {
    .itemForm{
        width:500px;
        margin-right: auto; 
        margin-left: auto;
    }
    
}


@media screen and (max-width: 775px) {
    #newItem input[type=text],textarea{
        width:98%;
    }
    #newItem label{
        width:98%;
    }
    .itemForm{
        width:98%;
    }
    
}
