/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-mar-2015, 15.13.38
    Author     : amm
*/

.loginForm,.registerForm{
    margin-right: auto; 
    margin-left: auto;
    margin-top: 20px;
    width:300px;
    border:1px solid #e3e3e3;
    padding-top: 0px;
    border-radius: 0px 0px 15px 15px; 
    margin-top: 30px;
}
body{
    text-align: center;
}
#searchbox{
    display: none
}


.loginForm form{
    //height: 300px; 
    
    padding-bottom: 50px;

}
.loginForm.errore{
   height: 330px;  
}
.registerForm form{
    min-height: 100px; 
    
    padding-bottom: 50px;
    

}

.loginForm form h3,.registerForm form h3{
     background: #de6868;
     padding: 10px 5px 10px 5px;
     border-radius: 0px; 
     margin-top: 0px;
     color:white;
     border-left: 5px;
     text-align:center;
}



.loginForm form label,.registerForm form label {
    display: inline-block;

    clear: left;
    width: 250px;
    text-align: center;
}

.loginForm form #errore{
    color:red;
}
.registerForm form #errore{
    color:red;
}

.loginForm form #email, .loginForm form #password, .loginForm form #remember,
.registerForm form #email, .registerForm form #password, .registerForm form #confEmail, .registerForm form #confPassword,
.registerForm form #name, .registerForm form #surname,.registerForm form #via,.registerForm form #citta

{
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
    width: 250px;
    border: 2px solid #eee;
    padding: 0px 0 3px 0;
    margin-bottom: -1px;
}

.registerForm form #sesso input[type="radio"] {
    width: 20px;
    vertical-align: middle;
    float: left;
}

.registerForm form #sesso{
    display: inline-block;
    clear: left;
    width: 150px;

    text-align: center;
}


.registerForm form #tipo input[type="radio"] {
    width: 20px;
    vertical-align: middle;
    float: left;
}

.registerForm form #tipo{
    display: inline-block;
    clear: left;
    width: 150px;

    text-align: center;
}


.loginForm form #ricorda{
    margin-left: 5px;
    width: 255px;
    display: inline-block;

    clear: left;

    text-align: center;
}

.registerForm{
    
    margin-bottom: 40px;
}

@media screen and (max-width: 775px) {
    .loginForm{
        margin-top: 70px;
        
    }
}