/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-mar-2015, 15.13.38
    Author     : amm
*/

.loginForm{
    margin-right: auto; 
    margin-left: auto;
    margin-top: 20px;
}
body{
text-align: center;
}
header{
    text-align: left;
}

.loginForm form{
    height: 150px; 
    padding-top: 30px;
    padding-bottom: 50px;
    
}
.registerForm form{
    min-height: 100px; 
    padding-top: 30px;
    padding-bottom: 50px;
    
}



.loginForm form .submit, .registerForm form .submit {
    height: 23px;
    vertical-align: bottom;
    background: #ddb820; 
    color: #fff;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.loginForm form label,.registerForm form label {
    display: inline-block;
    
    clear: left;
    width: 250px;
    text-align: center;
}

.loginForm form #errore{
    color:red;
}
.registerForm form #errore{
    color:red;
}

.loginForm form #email, .loginForm form #password, .loginForm form #remember,
.registerForm form #email, .registerForm form #password, .registerForm form #confEmail, .registerForm form #confPassword,
 .registerForm form #name, .registerForm form #surname

{
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
    width: 250px;
    border: 2px solid #eee;
    padding: 0px 0 3px 0;
    margin-bottom: -1px;
}

.registerForm form #sesso input[type="radio"] {
    width: 20px;
    vertical-align: middle;
    float: left;
}

.registerForm form #sesso{
    display: inline-block;
clear: left;
width: 150px;

text-align: center;
}


.registerForm form #tipo input[type="radio"] {
    width: 20px;
    vertical-align: middle;
    float: left;
}

.registerForm form #tipo{
    display: inline-block;
clear: left;
width: 150px;

text-align: center;
}


.loginForm form #ricorda{
    margin-left: 5px;
    width: 255px;
    display: inline-block;
    
    clear: left;

    text-align: center;
}

@media screen and (max-width: 758px) {
    .loginForm{
        padding-top: 70px;
    }
}