/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-mar-2015, 9.46.29
    Author     : amm
*/

#topBar{
    position:fixed;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:60px;
    background-color:red;
    visibility: hidden;
}

nav {
    float:right;
    margin-top: 0px;
}
nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}
nav ul {
    /*
    background: #efefef; 
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
 
    */
    padding-top: 0px;
    margin-top: 0px;
    
    list-style: none;
    display: inline-table;
    border-radius: 10px;  
    
    position: relative;
}
nav ul:after {
    content: ""; clear: both; display: block;
}   
nav ul li {
    float: left;
}
nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    background-image: url('../images/ic_drawer.png');
    background-size: 40px 30px;
    background-position: center;
    
  
    display: block;
    background-repeat: no-repeat;
    padding:  0px 40px;
    height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #757575; 
    text-decoration: none;
}
nav ul ul {
    background-image: none;
    background: #5f6975; 
    border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}
nav ul ul li {
    background-image: none;
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}
nav ul ul li a {
    background-image: none;
    padding: 20px 15px;
    padding-right: 33px;
    padding-bottom: 0px;
    height: 40px;
    //margin-right:10px;
    color: #fff;
}	
nav ul ul li a:hover {
    background: #4b545f;
}

header {


    margin:0 auto;

    //background: #eee;
    height: 100px;
    padding: 15px 0;
    font: 12px arial, sans-serif;
}


#header form {
    float: right; 
    margin-right: 30px; 
    height: 100px; 
    padding-top: 10px;
}

#header form label {
    display: inline-block; 
    margin: 0 2px;
}


#header form #username, #header form #password {
    display: block;
    width: 250px;
    border: 2px solid #eee;
    padding: 3px 0 3px 0;
    margin-bottom: -1px;
}

#header form .submit {
    height: 23px;
    vertical-align: bottom;
    background: #ddb820; 
    color: #fff;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.logo{
    float:left;
}
.nav{
    float:right;
    margin-right:10px;
}
.nav ul li{
    list-style:none;
    float:left;
}



#all{
    background-image: url('../images/tile2.jpg');
    background-repeat: repeat;
    min-width: 280px;
    width: 800px;
    margin: 0 auto;
}


body{
    background-image: url('../images/tile.jpg');
    background-repeat: repeat;
}

#corpo{
    overflow:hidden;
    padding:20px;

    display: block;
    //margin: 0 auto;

    text-align: center;
}

#main {
    float:left;
    //margin-left:-240px;
    //left:240px;
    width:calc(100%-200px);
    position:relative;
    padding:20px;
    text-align: left;

}

#main #content {
    //margin-right:240px;
    //background:yellow;
    padding:20px;

}
#article p{

}


#sidebar {
    float:right;
    width:200px;
    height:100px;
    position:relative;
    //width:30%;
    //background:red;
    padding:20px;
}

@media screen and (max-width: 800px) {

    #all{
        width: 100%;   

    }



}
@media screen and (max-width: 758px) {

    header{
        visibility: hidden;
        position: absolute;
    }
    #topBar{
        visibility: visible;
        z-index: 9999;
        width:100%;
    }
    #sidebar{
        visibility: hidden;
        position: absolute;
    }
    #header form {
        float: left; 
        margin-right: 30px; 
        height: 100px; 
        padding-top: 10px;
        padding-left: 20px;
    }
    header {

        //background: #eee;
        height: 200px;

    }


}




/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    /* Styles */
    all{
        width: 320;
    }

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    /* Styles */
}




