/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-mar-2015, 9.46.29
    Author     : amm
*/
body{
    
}

header {
    
    margin:0 auto;
    
    //background: #eee;
    height: 100px;
    padding: 20px 0;
    font: 12px arial, sans-serif;
}


#header form {
    float: right; 
    margin-right: 30px; 
    height: 100px; 
    padding-top: 10px;
}

#header form label {
    display: inline-block; 
    margin: 0 2px;
}


#header form #s-user, #header form #s-pass {
    display: block;
    width: 250px;
    border: 2px solid #eee;
    padding: 3px 0 3px 0;
    margin-bottom: -1px;
}

#header form .submit {
    height: 23px;
    vertical-align: bottom;
    background: #ddb820; 
    color: #fff;
    border: 1px solid #FFF;
    border-radius: 5px;
}



#all{
  background-image: url('../images/tile2.jpg');
  background-repeat: repeat;
  min-width: 370px;
  width: 800px;
  margin: 0 auto;
}


body{
    background-image: url('../images/tile.jpg');
    background-repeat: repeat;
}

#corpo{
  overflow:hidden;
  padding:20px;

  display: block;
  //margin: 0 auto;
  
  text-align: center;
}
 
#main {
  float:left;
  //margin-left:-240px;
  //left:240px;
  width:calc(100%-200px);
  position:relative;
  padding:20px;
  text-align: left;

}
 
#main #content {
  //margin-right:240px;
  //background:yellow;
  padding:20px;
  
}
#article p{
    
}
 

#sidebar {
  float:right;
  width:200px;
  height:100px;
  position:relative;
  //width:30%;
  //background:red;
  padding:20px;
}

@media screen and (max-width: 800px) {

#all{
     width: 100%;
    
}


}
@media screen and (max-width: 758px) {

#header form {
    float: left; 
    margin-right: 30px; 
    height: 100px; 
    padding-top: 10px;
    padding-left: 20px;
}
header {
    
    
    //background: #eee;
    height: 200px;

}


}
@media screen and (max-width: 527px) {

    #sidebar {
  float:left;
  width:200px;
  height:100px;
  position:relative;
  //width:30%;
  //background:red;
  padding:20px;
}


}
