/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mar-2015, 11.46.17
    Author     : amm
*/
#all{
    text-align: left;
}
#titolo{
    display: block;
    width: 90%;

}
#contenuto{
    width: calc(100% - 250px);
    min-height: 400px;
    //padding-left:10px;
    margin-left: 10px; 
    border:1px solid #e3e3e3;
    margin-top: 15px;
    border-radius:  0px 0px 15px 15px; 
    
    
}
.spazio{
    padding-top: 40px;
    
}

#contenuto h1{
    background: #de6868;
     //padding: 10px 5px 10px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
     margin-top: 0px;
     color:white;
     //border-left: 5px;
     text-align:center;
     width: 100%;
}
#descrizione{
    width: 100%;


}
#descrizione img{
    
    height: 300px;
    width: auto;
    max-width: 300px;
    float:left;
    padding-right: 5px;
    padding-bottom:5x;
}
#descrizione p{
    padding-top:0px;
    width:100%;

}
#contenuto form #quantita {
width: 30px;
}
.button{
    background: #57d9f4;
    border-radius: 15px;
    font-size: 1.7em;
}
@media screen and (max-width: 775px) {

    #descrizione p{
        padding-top:5px;
        margin-left: 0px;
    }
    #contenuto{
        width: 100%;
        min-width: 300px;
        margin:0px;
        padding:0px;
        margin-left:1px;
        margin-right: 1px;
        margin-top: 40px;
        //padding-left:10px;
    }
    #descrizione img{
        width: 300px;
        height: 300px;
        float:left;
        padding-right: 0px;
        padding-bottom:5px;
    }

}